.jumbotron {
    background-image: url(images/strongbrain.png);
}
.body {
    background-image: url(images/strongbrain.png);
}
.display-4 {
    font-family: "Indie Flower", cursive; 
    font-size: 65px;
}
.lead {
    font-family: "Raleway", sans-serif;
}
.call-to-action {
    font-family: "Indie Flower", cursive;
    font-size: 30px;
}
.start {
    font-family: "Raleway", sans-serif;
}