.jumbotron {
    background-image: url(images/strongbrain.png);
}

.display-4 {
    font-family: "Monsterrat", sans-serif; 
    font-size: 65px;
}
.lead {
    font-family: "Monsterrat", sans-serif;
}
.call-to-action {
    font-family: "Monsterrat", sans-serif;
    font-size: 30px;
}
.start {
    font-family: "Monsterrat", sans-serif;
}